main{
    grid-area: main;
    display: grid;
    grid-template-areas: "card editor editor editor editor"
                         "card recados recados recados recados"
                         ".... recados recados recados recados"
                         "footer footer footer footer footer";
    margin-top: 20px;
}

/*EDITOR RECADOS*/
.editor-recados{
    background-color: #fff;
    grid-area: editor;
    border-radius: 10px;
    margin-bottom: 20px;
}
.editor-recados textarea{
    display: block;
    resize: none;
    width: 60%;
    height: 60%;
    margin: 10px;
}
.editor-recados hr{
    border-top: 1px solid #fff;
}
.botoes-recados{
    margin: 10px;
}
.botoes-recados a{
    font-weight: bold;
    text-decoration: underline;
}
.btnpdr{
    background-color: #fff;
    color: #236dbd;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 5px;
}
.btnpdr:active{
    background-color: rgb(223, 223, 223);
}
/*ÃREA DE RECADOS*/
.scraps{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    grid-area: recados;
}
.scraps div:nth-child(1){
    display: flex;
    justify-content: space-between;
}
.scraps h1,p{
    display: inline;
}
.scraps>span, .opcoes-recados, .selecionav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p>span{
    color: #777;
}
.opcoes-recados{
    margin-top: 10px;
}
.selecionav ul{
    margin-top: 10px;
    display: flex;
    color: #777;
}
.selecionav ul>li{
    padding: 4px;
}
.recados-recebidos{
    display: flex;
    flex-direction: column-reverse;
}
.recado{
    background-color: #EFF8FF;
    padding: 5px;
    border-bottom: 2px solid #fff;
    display: grid;
    grid-template-areas: "checkbox foto autor .. apagar";
}
.recado>div:nth-child(2) div{
    display: block;
    min-width: 450px;
}
.recado div:nth-of-type(1){
    display: flex;
    grid-area: checkbox;
}
.recado div:nth-of-type(1) input[type="checkbox"]{
    align-self: flex-start;
    margin-right: 5px;
}
.recado div:nth-of-type(1) img{
    border: 4px solid #fff;
    width: 80px;
    height: 80px;
    grid-area: foto;
}
.recado div:nth-of-type(2){
    grid-area: autor;
}
.recado div:nth-of-type(2) a{
    font-weight: bold;
    color: #236dbd;
}
.recado div:nth-of-type(2) span{
    font-weight: bold;
}
.recado div:nth-of-type(3){
    display: grid;
    grid-template-areas: "data apagar";
    grid-template-rows: 30px;
    grid-area: apagar;
}
.recado img{
    display: block;
    max-width: 500px;
}